<!DOCTYPE html>
<html>
<head>
    <title>Sustainability & ESG</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="bg">
    
 
     <!-- DASHBOARD NAVBAR -->
    <nav class="navbar">
        <div class="logo">GNPC</div>
        <div class="nav-links">
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
            <!-- <a href="{{ url_for('projects') }}" class="active">Projects</a>
            <a href="{{ url_for('sustainability') }}">Sustainability</a>
            <a href="{{ url_for('hse') }}">HSE</a>
            <a href="{{ url_for('logout') }}">Logout</a> -->
        </div>
    </nav>   

<div class="dashboard">
    <h1>Sustainability & ESG</h1>

    <p>
        GNPC integrates environmental protection, social responsibility,
        and governance practices into all petroleum operations.
    </p>

    <ul>
        <li>Environmental Impact Monitoring</li>
        <li>Community Development Programs</li>
        <li>Carbon Emission Management</li>
        <li>Local Content Development</li>
    </ul>
</div>

</body>
</html>
